@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --background: 1 0 0;
    --foreground: 0.141 0.005 285.823;
    --card: 1 0 0;
    --card-foreground: 0.141 0.005 285.823;
    --popover: 1 0 0;
    --popover-foreground: 0.141 0.005 285.823;
    --primary: 0.21 0.006 285.885;
    --primary-foreground: 0.985 0 0;
    --secondary: 0.967 0.001 286.375;
    --secondary-foreground: 0.21 0.006 285.885;
    --muted: 0.967 0.001 286.375;
    --muted-foreground: 0.552 0.016 285.938;
    --accent: 0.967 0.001 286.375;
    --accent-foreground: 0.21 0.006 285.885;
    --destructive: 0.577 0.245 27.325;
    --border: 0.92 0.004 286.32;
    --input: 0.92 0.004 286.32;
    --ring: 0.705 0.015 286.067;
    --chart-1: 0.871 0.006 286.286;
    --chart-2: 0.552 0.016 285.938;
    --chart-3: 0.442 0.017 285.786;
    --chart-4: 0.37 0.013 285.805;
    --chart-5: 0.274 0.006 286.033;
    --radius: 0.5rem;
    --sidebar: 0.985 0 0;
    --sidebar-foreground: 0.141 0.005 285.823;
    --sidebar-primary: 0.21 0.006 285.885;
    --sidebar-primary-foreground: 0.985 0 0;
    --sidebar-accent: 0.967 0.001 286.375;
    --sidebar-accent-foreground: 0.21 0.006 285.885;
    --sidebar-border: 0.92 0.004 286.32;
    --sidebar-ring: 0.705 0.015 286.067;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
